<header class="sticky top-0 w-full h-16 shadow-lg  bg-opacity-10 backdrop-blur-lg backdrop-filter">
    <nav class="flex items-center justify-between h-full py-3 mx-auto  center">
        <a [routerLink]="[path.home]" class="text-2xl no-underline cursor-pointer">
			TrueTrend<b>Tracker</b>
        </a>

        <div class="user-interface">
            <div class="date">
                <div class="days">{{now | date:'dd/MM/YYYY'}}</div>
                <div class="hours">{{now | date:'HH:mm'}}</div>
            </div>
            <div class="user">
                <div class="user-avatar" (click)="openMenu()"></div>
                <ul class="user-menu" *ngIf="open">
                    <li>
                        <span>Settings</span>
                    </li>
                    <li>
                        <span>Account / Subscription</span>
                    </li>
                    <li>
                        <span>Help</span>
                    </li>
                    <li>
                        <span (click)="onClickSignOut()">Sign out</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>